<div class="container">
  <span class="page-title">cafe menu</span>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <%= stylesheet_link_tag 'application' %>

  <div class="swiper">
    <div class="swiper-wrapper swipe-img">
      <div class="swiper-slide">
        <%= image_tag 'cafe/swipe1.JPEG', width: 'auto', height: '300px'  %>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'cafe/swipe2.JPG', width: 'auto', height: '300px'  %>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'cafe/swipe3.JPG', width: 'auto', height: '300px'  %>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'cafe/swipe4.JPG', width: 'auto', height: '300px'  %>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'cafe/swipe5.jpeg', width: 'auto', height: '300px'  %>
      </div>
    </div>
    <!-- ページネーションの要素 -->
    <div class="swiper-pagination"></div>
    <!-- ナビゲーションボタン （前、次） -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <%= javascript_pack_tag "image" %>

  <div class="row">
    <span class="col-12 menu-info">
      ゆったりとお楽しみいただけるアフタヌーンティーや<br>
      軽食・スイーツなどのカフェメニューも取り揃えております。
    </span>

    <!--メニューのジャンルリンク-->
    <div class="col-3 menu-style"><%= link_to "Special", special_path, class: 'menu-link' %></div>
    <div class="col-3 menu-style"><%= link_to "Food", food_path, class: 'menu-link' %></div>
    <div class="col-3 menu-style"><%= link_to "Dessert", dessert_path, class: 'menu-link' %></div>
    <div class="col-3 menu-style"><%= link_to "Drink", drink_path, class: 'menu-link' %></div>

    <!--上段３枚の画像-->
    <div class="col-4 img-style"><%= image_tag 'cafe/top1.JPG', class: 'top-img' %></div>
    <div class="col-4 img-style"><%= image_tag 'cafe/top2.JPG', class: 'top-img' %></div>
    <div class="col-4 img-style"><%= image_tag 'cafe/top3.JPG', class: 'top-img' %></div>
    <!--下段４枚の画像-->
    <div class="col-3 img-style"><%= image_tag 'cafe/sub1.jpeg', class: 'sub-img' %></div>
    <div class="col-3 img-style"><%= image_tag 'cafe/sub2.JPG', class: 'sub-img' %></div>
    <div class="col-3 img-style"><%= image_tag 'cafe/sub3.JPG', class: 'sub-img' %></div>
    <div class="col-3 img-style"><%= image_tag 'cafe/sub4.JPG', class: 'sub-img' %></div>
  </div>
</div>
